- content_for :pagetitle do
  ="Dashboard"

.profile-header.clearfix{:style => "background-image: url(assets/trianglify6.svg)"}
  .profile-avatar.kit-avatar.kit-avatar-128.border-transparent.pull-left
    %img{:alt => "bent smith", :src => "assets/profile.jpg"}/
  %p.profile-status
    This is the
    %strong latest activity
    of
    %i @bent
  .profile-data
    %i.fa.fa-briefcase.fa-fw
    Web designer at Stilearning, LLC
    %br/
    %i.fa.fa-envelope.fa-fw
    bent10@stilearning.com
    %br/
    %i.fa.fa-map-marker.fa-fw
    Pekalongan, Central Java, Indonesia
    %br/
    %i.fa.fa-archive.fa-fw
    16 Projects
    %i.fa.fa-shopping-cart.fa-fw
    24,170 Sales
    %br/

.content-actions
  %ul.nav.nav-tabs.nav-tabs-alt.hidden-sm.hidden-xs.pull-left
    %li.active
      %a{"data-toggle" => "tab", :href => "#activity"} Activity
    %li
      %a{"data-toggle" => "tab", :href => "#balance"} Balance
    %li
      %a{"data-toggle" => "tab", :href => "#transactions"} Transactions          
    %li
      %a{"data-toggle" => "tab", :href => "#security"} Security
    %li
      %a{"data-toggle" => "tab", :href => "#about"} About

.content
  .tab-content
    #activity.tab-pane.active
      = partial "dashboard/_activity"

    #balance.tab-pane
      = partial "dashboard/_balance"

    #transactions.tab-pane
      = partial "dashboard/_transactions"

    #security.tab-pane
      = partial "dashboard/_security"

    #about.tab-pane
      = partial "dashboard/_about"
