- unless logged_in?

  .col8.offset-left1.bg-white.radius3
    .offset-left1.offset_right1
      .separator30
      %h1 Welcome to Lemontree!
      .separator10
      %a.btn.btn-small.btn-primary.no-border.color-white{ href: "/login" } Login
      %p{ style: "text-align: center"} or
      %a.btn.btn-small.btn-primary.no-border.color-white{ href: "/register" } Register
      .separator30

- else
  .line
    .line-max-medium
      .line.bg-green.color-white.bg-pattern1
        .separator10
        .col4
          .line-compress
            %h1.line-compress Dashboard
        .separator10.tablet.mobile
        .hr.tablet.mobile
        .separator10.tablet.mobile
        .col6.line-tablet
          .col5.center-content
            .separator3
            %h2
              %i.fa.fa-money.color-darkgreen
              %span Account value: €#{cur_user_balance.account_value.f_eur}
          .col5.center-content
            .separator3
            %h2
              %i.fa.fa-bar-chart-o.color-darkgreen
              Balance:
              = haml :"_balance"
        .separator10
  .line
    .line-max-medium.bg-white
      .separator10

      %section.orderbook.line-compress
        %h2 Balance in open orders
        €#{Order.balance_eur(current_user).f_eur} --
        #{Order.balance_btc current_user} BTC
        %h2 Balance available to trade
        €#{current_user.balance.eur_available.f_eur} --
        #{current_user.balance.btc_available} BTC
      .separator10

      %section.orderbook.line-compress
        %h1 Orderbook
        [BUY - SELL graph]

        .separator5
        /%h2 Orders
        .col5.line-tablet
          %h2 BUY
          %table
            %th Amount
            %th Price
            = haml :"orders/_book_orders", {}, { type: :buy }
          .separator5
        .col5.line-tablet
          %h2 SELL
          = haml :"orders/_book_orders", {}, { type: :sell }
          .separator5
      .separator10

      %section.price_chart.line-compress
        %h1 Price chart
        Chart
      .separator10

      %section.line-compress
        %strong
          %a{ href: "/home" } Check the home page too!
      .separator10

      .hidden
        %section.infos.line-compress
          %h2 Infos
          %p Current time: #{Time.now.strftime "%H:%M:%S"}
          %p Last login: 127.0.0.1 @ #{Time.now.time_f}

          .row
            %button Logins logs list
            .separator5
          .row
            %button Canceled orders
            .separator5
          .row
            %button Operations log
            .separator5
        .separator10
