:ruby
  cur_user = current_user
!!! 5
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title BitDirect
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = stylesheet_tag 'application'
    = stylesheet_tag 'bootstrap'
    = stylesheet_tag 'jquery-ui'
    = stylesheet_tag 'pages'
    = stylesheet_tag 'uikits'

    = stylesheet_tag 'header'
    = stylesheet_tag 'sidebar'
    = stylesheet_tag 'content'
    = stylesheet_tag 'pages'

    = stylesheet_tag 'footer'

    = javascript_tag 'application'
    /= csrf_meta_tags
    = yield_content(:header) if content_for? :header
    / fav and touch icons here
    / Font Awesome
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body{"data-spy" => "scroll", "data-target" => ".navbar"}
    %main#wrapper.wrapkit-wrapper
      / Your awesome app here
    = partial :"templates/_header"
    = partial :"templates/_sidebar"
    -#
    -# %section.content-wrapper
    -#   .content-header
    -#     %h1.content-title
    -#       Content Title
    -#       %span.content-subtitle Content subtitle goes here...
    -#   / /.content-header
    -#   .content-actions
    -#     / You can put breadcrumb, button, button group or something else here...
    -#   / /.content-actions
    -#   .content
    -#     / Your awesome app here
    -#   / /.content
    -# / /.content-wrapper
    -# = partial :"templates/_footer"
