!!! 5
%html
  - TITLE = "BitcoinExchange"
  %head
    %title= TITLE
    %link{ rel:"stylesheet", href: "/css/helper.css" }
    %link{ rel:"stylesheet", href:"/css/fontawesome.css"}
    %link{ rel: "stylesheet", href: "/css/main.css" }
    = haml :"_metas" # todo require/implement partial :metas

  %body
    #main
      %header.navbar.bg-white.line.fixed.top.left.layer1.bordered-bottom.over-hidden
        .line-max
          %h1.col3.logo.color-green
            .line-compress
              .line-compress
                %a{ href: "/" }
                  = TITLE
          %nav.col7.center-content
            .line
              .col8
                - nav_link "/orders", "Orders"
                - nav_link "/orders_new", "Buy / Sell"
                - nav_link "/deposits", "Deposit"
                - nav_link "/withdrawals", "Withdraw"
                - nav_link "/contact_us", "Contact us"
              .col2
                %a.line.desktop
                  %i.fa.fa-user.color-green
                  Me
                %button.line.tablet.mobile.btn-navbar
                  %i.fa.fa-bars
                %section.right.aright
                -#%nav.debug
                  / FIXME: implement login and remove this
                  -#%p Switch to user:
                  -#%form.inline{ action: "/force_login/0", method: :post }
                    -#%input.inline{ type: "submit", value: "ALI" }
                  -#%form.inline{ action: "/force_login/1", method: :post }
                    -#%input.inline{ type: "submit", value: "BOB" }

                -#%section
                  -#Logged as #{current_user.username}
                  -#\|
                  -#%a{ href: "/logout" } logout
                -#%section
                  -#%b Balance:
                  -#= haml :"_balance"
                  -#:markedup
                    -#Total value: €#{"%.2f" % cur_user_balance.btc_eur}
      .separator50
      .separator30.desktop
      .separator10.tablet.mobile
      .separator3.tablet.mobile
      %section= yield
    %script{ type: "text/javascript", src: "/js/app.js" }