!!! 5
%html
  - TITLE = "BitcoinExchange"
  %head
    %title= TITLE
    %link{ rel:"stylesheet", href: "/css/helper.css" }
    %link{ rel:"stylesheet", href:"/css/fontawesome.css"}
    %link{ rel: "stylesheet", href: "/css/main.css" }
    = haml :"_metas" # todo require/implement partial :metas

  %body
    .overlay.overlay-dark.navbar-overlay-mobile-menu.overlay_main.mobile.tablet.hidden
      .line-compress.navbar-mobile-menu
        .separator100
        %a.line.bg-muted.color-white.radius3.active{ href: "/orders"}
          Orders
        .separator10
        %a.line.bg-muted.color-white.radius3.toggle-opacity-hover{ href: "/orders_new"}
          Buy/Sell
        .separator10
        %a.line.bg-muted.color-white.radius3.toggle-opacity-hover{ href: "/deposits"}
          Deposit
        .separator10
        %a.line.bg-muted.color-white.radius3.toggle-opacity-hover{ href: "/withdrawals"}
          Withdrawals
        .separator10
        %a.line.bg-muted.color-white.radius3.toggle-opacity-hover{ href: "/contact_us"}
          Contact us
    #main
      %header.navbar.bg-white.line.fixed.top.left.layer1.bordered-bottom.over-hidden
        .line-max
          %h1.col3.logo.color-green
            .line-compress
              .line-compress
                %a{ href: "/" }
                  = TITLE
          %nav.col7.center-content
            .line
              .col8.desktop
                - nav_link "/orders",      "Orders"
                - nav_link "/orders_new",  "Buy / Sell"
                - nav_link "/deposits",    "Deposits"
                - nav_link "/withdrawals", "Withdrawals"
                - nav_link "/contact_us",  "Contact us"

              .col6.tablet.mobile
              .col2
                %a.line.desktop{ data: { toggle: "user_details" } }
                  %i.fa.fa-user.color-green
                  Account
                %a.line.mobile.tablet{ data: { toggle: "user_details" } }
                  %i.fa.fa-user.color-green

              .col2.tablet.mobile
                %button.line.tablet.mobile.btn-navbar{ data: { toggle: "navbar-overlay-mobile-menu" } }
                  %i.fa.fa-bars
      %section.user_details.navbar-dropdown.line-tablet.color-white.fixed.right.top.push-right.bg-muted.layer2.hidden
        .line-compress
          .line-compress
            .line-compress.left-content.debug
              / FIXME: implement login and remove this
              .separator10
              %h3 [test] Switch to user:
              .separator5
              %form.col5{ action: "/force_login/1", method: :post }
                - hidden "return_url", request.url, "return_url"
                .line-compress
                  %button.btn.btn-small.btn-primary.no-border.color-white{ type: "submit" } ALI
              %form.col5{ action: "/force_login/2", method: :post }
                - hidden "return_url", request.url, "return_url"
                .line-compress
                  %button.btn.btn-small.btn-primary.no-border.color-white{ type: "submit" } BOB
            .separator15
            %section.line-compress.left-content
              %h3 Logged as
              %h2.color-lightgreen #{current_user.username}
        .separator10

        %section.line-compress.bg-black.left-content
          .line-compress
            .separator5
            %p Current price: €#{Ticker.last.f_eur}
            %p
              Balance:
              = haml :"_balance"
            %p Total value: €#{cur_user_balance.total_value.f_eur}
            .separator5
        .line.center-content
          %h1
            %a.line.btn.bg-muted.color-white{ href: "/logout" }
              .separator5
              %i.fa.fa-sign-out &nbsp;logout
              .separator5

      .separator50
      .separator30.desktop
      .separator10.tablet.mobile
      .separator3.tablet.mobile
      %section= yield
    %script{ type: "text/javascript", src: "/js/app.js" }