!!! 5
%html
  - TITLE = "BitcoinExchange"
  %head
    %title= TITLE
    %link{ rel:"stylesheet", href: "/css/helper.css" }
    %link{ rel:"stylesheet", href:"/css/fontawesome.css"}
    %link{ rel: "stylesheet", href: "/css/main.css" }
    = haml :"_metas" # todo require/implement partial :metas

  %body
    .overlay.overlay-dark.mobile.tablet
      .line-compress.navbar-mobile-menu
        .separator100
        %a.line.bg-muted.color-white.radius3.active
          Orders
        .separator10
        %a.line.bg-muted.color-white.radius3.toggle-opacity-hover
          Buy/Sell
        .separator10
        %a.line.bg-muted.color-white.radius3.toggle-opacity-hover
          Deposit
        .separator10
        %a.line.bg-muted.color-white.radius3.toggle-opacity-hover
          Withdrawals
        .separator10
        %a.line.bg-muted.color-white.radius3.toggle-opacity-hover
          Contact us
    #main
      %header.navbar.bg-white.line.fixed.top.left.layer1.bordered-bottom.over-hidden
        .line-max
          %h1.col3.logo.color-green
            .line-compress
              .line-compress
                %a{ href: "/" }
                  = TITLE
          %nav.col7.center-content
            .line
              .col8
                .desktop
                  - nav_link "/orders", "Orders"
                  - nav_link "/orders_new", "Buy / Sell"
                  - nav_link "/deposits", "Deposit"
                  - nav_link "/withdrawals", "Withdraw"
                  - nav_link "/contact_us", "Contact us"
              .col2
                %a.line.desktop{ data: { toggle: "user_details" } }
                  %i.fa.fa-user.color-green
                  Account
                %button.line.tablet.mobile.btn-navbar
                  %i.fa.fa-bars
      %section.user_details.navbar-dropdown.color-white.fixed.right.top.push-right.bg-muted.layer2.hidden
        .line-compress
          .line-compress
            .line-compress.left-content.debug
              / FIXME: implement login and remove this
              .separator10
              %h3 [test] Switch to user:
              .separator5
              %form.col5{ action: "/force_login/0", method: :post }
                .line-compress
                  %input.btn.btn-small.btn-primary.no-border.color-white{ type: "submit", value: "ALI" }
              %form.col5{ action: "/force_login/1", method: :post }
                .line-compress
                  %input.btn.btn-small.btn-primary.no-border.color-white{ type: "submit", value: "BOB" }
            .separator15
            %section.line-compress.left-content
              %h3 Logged as
              %h2.color-lightgreen #{current_user.username}
        .separator10
        
        %section.line-compress.bg-black.left-content
          .line-compress
            .separator5
            Balance:
            = haml :"_balance"
            :markedup
              Total value: €#{"%.2f" % cur_user_balance.btc_eur}
            .separator5
        .line.center-content
          %h1
            %a.line.btn.bg-muted.color-white{ href: "/logout" }
              .separator5
              %i.fa.fa-sign-out &nbsp;logout
              .separator5
            
      .separator50
      .separator30.desktop
      .separator10.tablet.mobile
      .separator3.tablet.mobile
      %section= yield
    %script{ type: "text/javascript", src: "/js/app.js" }