.overlay.overlay-dark.layer2.overlay_section.hidden
  .line-compress
    .separator50
    .separator30
    .col4.offset-left3.line-tablet.bg-white.bordered.overlay-content.radius3
      .line-compress.new_deposit.tabbed
        %h1
        .hr
        .separator10
        %nav.line
          .col5
            .line-compress
              %button.btn.btn-medium.current.radius3.color-white{ href: js_void }
                €
                %br
                Deposit EURO
          .col5
            .line-compress
              %button.btn.btn-medium.radius3.color-white{ href: js_void }
                .fa.fa-bitcoin
                %br
                Deposit Bitcoin
          .separator10

        %section.line-compress
          :markedup
            To deposit EUR you have to make a SEPA wire tansfer, these are the details:
            ---
            Bank of XXXX - City, Country
            IBAN:
            ABI/CAB/SWIFT?
            etc...
            ---
            ---
            debug:
            ---
          %form{ action: "/deposits/fake_add", method: "post"}
            %button{ type: "submit" } fake new deposit

          (the deposit has to be accepted by admin / banking assistant)
          / TODO: start admin app

        %section.line-compress.hidden
          - if CURRENT_ADDRESS
            :markedup
              Deposit to this address:
            %input.btc_address{ type: "text", disabled: true, value: CURRENT_ADDRESS }
          - else
            %form{ action: "/users/generate_address", method: :post }
              - submit "Generate address"
            todo: add ajax
        .separator30


.line-max-medium
  .line.bg-green.color-white.bg-pattern1
    .col7
      .line-compress
        .separator10
        %h1 Deposits
        .separator10.tablet.mobile

    .col3.line-tablet.right-content
      %button.btn.bg-lightgreen.font-medium.color-muted.no-padding{ data: { toggle: "overlay_section" } }
        .separator10
        .separator5
        %i.fa.fa-plus
        Deposit funds
        .separator10
        .separator3

.line-max-medium.bg-white
  .separator10
  .line-compress

    %section
      %h1 Euro
      .separator10
      - deposits = DepositFiat.all(user_id: current_user.id)
      - if deposits == []
        There are no Euro deposits.
      - else
        .line
          .line-compress.bg-greeny.color-muted.radius5-top
            .separator10
            .col2 Amount
            .col2 Status
            .col3 Request Date
            .col3 Fulfillment Date
            .separator5
            .separator3
          - for deposit in deposits
            .line-compress.table-row
              .separator10
              .col2 €#{deposit.amount.f_eur}
              .col2 Fulfilled
              .col3 #{deposit.created_at.time_f}
              .col3 #{deposit.created_at.time_f} x
              .separator5
            .hr
          / #{deposit.id}
          / old: .row €#{deposit.amount.f_eur} #{deposit.created_at.time_f}
    .separator10
    %section
      %h1 Bitcoin
      .separator10
      - deposits = DepositBtc.all(user_id: current_user.id)
      - if deposits == []
        There are no BTC deposits.
      .line
        .line-compress.bg-greeny.color-muted.radius5-top
          .separator10
          .col2 Amount
          .col4 Status
          .col4 Request Date
          .separator5
          .separator3
        - for deposit in deposits
          .line-compress.table-row
            .separator10
            .col2 #{deposit.amount} BTC
            .col4 Confirmed
            .col4 #{deposit.created_at.time_f}
            .separator5
          .hr
    .separator10
  .separator10