!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Signin - BitDirect.io
    %meta{:content => "", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = stylesheet_tag 'application'
    = javascript_tag 'application'
    = javascript_tag 'pages-signin'
    = javascript_tag 'jquery.vegas'
    = yield_content(:header) if content_for? :header

    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", :rel => "stylesheet"}/

  %body
    %main.signin-wrapper
      .tab-content
        = yield
