Buy / Sell



:ruby
  class Order
    include Blizz::Resource
  end

  def order_h(hash)
    Blizz.load Order, hash
  end

  buy = order_h( available: "available", amount: 0.1, price: 600, total: "total" )
  sell = order_h( available: "available", amount: "amount", price: "price", total: "total" )

.graph
.clear

%section
  %form{ action: "/orders", method: :post }
    - hidden :type, :buy
    %h1 BUY
    %p Available USD: $#{buy.available}
    %input{ placeholder: "amount (#{buy.amount})" , value: buy.amount } BTC
    %input{ placeholder: "price  ($#{buy.price})" , value: buy.price } $
    %p Total: #{buy.total}
    - submit "Buy BTC"

%section
  %h1 SELL
  %p Available BTC: #{sell.available} BTC
  %input{ placeholder: "amount (#{sell.amount})" } BTC
  %input{ placeholder: "price  (#{sell.price})" } $
  %p Total: #{sell.total}
  - submit "Sell BTC"

