Buy / Sell


:ruby
  buy = order_h( available: "available", amount: 0.1, price: 450, total: "total" )
  sell = order_h( available: Account.available_btc, amount: "amount", price: "price", total: "total" )

.graph
.clear

%section
  %form{ action: "/orders", method: :post }
    - hidden :type, :buy
    %h1 BUY
    %p Available: $#{buy.available}
    .relative
      %input{ name: "order[amount]", placeholder: "amount (#{buy.amount} BTC)" , value: buy.amount }
      %span.abso BTC
    .relative
      %input{ name: "order[price]", placeholder: "price  (€#{buy.price})" , value: buy.price }
      %span.abso EUR
    %p Total: #{buy.total}
    - submit "Buy BTC"

%section
  %form{ action: "/orders", method: :post }
    - hidden :type, :sell
    %h1 SELL
    %p Available: #{sell.available} BTC
    .relative
      %input{  name: "order[amount]", placeholder: "amount (#{sell.amount} BTC)" }
      %span.abso BTC
    .relative
      %input{  name: "order[price]", placeholder: "price  (€#{sell.price})" } $
      %span.abso EUR
    %p Total: #{sell.total}
    - submit "Sell BTC"

